[submodule "modules/syntropyLog-examples"]
	path = modules/syntropyLog-examples
	url = https://github.com/Syntropysoft/syntropylog-examples-.git
[submodule "modules/external-adapters"]
	path = modules/external-adapters
	url = https://github.com/Syntropysoft/syntropylog-adapters.git
